# Ignore node_modules in both backend and frontend
client/node_modules/
api/node_modules/

# Ignore .env files
client/.env
api/.env

# Ignore build and dist folders
client/dist/
api/dist/

# Ignore logs
*.log

# Ignore system files
.DS_Store

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db
